<a href="https://colab.research.google.com/github/GeneralZl1/LogisticRegression_StatsModel/blob/main/LogisticRegression_SingleVariable(GPA%2CSAT).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Prediciting whether a candidate gets admission in collage based on SAT scores

Import the data

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Admittance.csv to Admittance (1).csv

In [ ]:
import pandas as pd
import io
data = pd.read_csv(io.BytesIO(uploaded['Admittance.csv']))

Preprocessing

In [ ]:
data.head()

    SAT Admitted
0  1363       No
1  1792      Yes
2  1954      Yes
3  1653       No
4  1593       No

In [ ]:
data.describe()

               SAT
count   168.000000
mean   1695.273810
std     183.019017
min    1334.000000
25%    1547.500000
50%    1691.500000
75%    1844.500000
max    2050.000000

In [ ]:
data['Admitted']=data['Admitted'].map({'Yes':1,'No':0})

In [ ]:
data.head()

    SAT  Admitted
0  1363         0
1  1792         1
2  1954         1
3  1653         0
4  1593         0

In [ ]:
x1=data['SAT']
y=data['Admitted']

Build a model

In [ ]:
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [31]:
x=sm.add_constant(x1)
model=sm.Logit(y,x)
reg=model.fit()

Optimization terminated successfully.
         Current function value: 0.137766
         Iterations 10

In [32]:
reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Admitted   No. Observations:                  168
Model:                          Logit   Df Residuals:                      166
Method:                           MLE   Df Model:                            1
Date:                Tue, 11 May 2021   Pseudo R-squ.:                  0.7992
Time:                        15:29:30   Log-Likelihood:                -23.145
converged:                       True   LL-Null:                       -115.26
Covariance Type:            nonrobust   LLR p-value:                 5.805e-42
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -69.9128     15.737     -4.443      0.000    -100.756     -39.070
SAT            0.0420      0.009      4.454      0.000       0.024       0.060
==============================================================================

Possibly complete quasi-separation: A fraction 0.27 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""

In [38]:
acc_arr=reg.pred_table()

In [40]:
accuracy=(acc_arr[0,0]+acc_arr[1,1])/acc_arr.sum()

In [41]:
accuracy

0.9166666666666666